body {
    text-align: center;
    background-color: rgb(25, 169, 212);
}

form {
    width: 500px;
    display: inline-block;
}

fieldset {
    border: thick solid black;
}

button {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
}

table {
    border: thick solid black;
    border-collapse: collapse;
    width: 100%;
    margin-top: 25px;
    color: white;
}

th, td {
    border: solid black;
    padding: 8px;
}


